---
title: Welcome to Middleman
---

%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
%script{:src => "javascripts/typed.js", :type => "text/javascript"}
:javascript
  $(function(){
      $("#typed").typed({
          // strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
          stringsElement: $('#typed-strings'),
          typeSpeed: 30,
          backDelay: 500,
          loop: false,
          contentType: 'html', // or text
          // defaults to false for infinite loop
          loopCount: false,
          callback: function(){ foo(); },
          resetCallback: function() { newTyped(); }
      });
      $(".reset").click(function(){
          $("#typed").typed('reset');
      });
  });
  function newTyped(){ /* A new typed object */ }
  function foo(){ console.log("Callback"); }
%body
  .wrap
    .title-bar
      %span
        Terminal
    / %h1.h1 Mark Hinschberger
    .type-wrap
      #typed-strings
        %p
          My name is 
          %strong Mark Hinschberger
        %p
          I am a 
          %strong Front End Developer
        %p I like to write code
        %p JAVASCRIPT, HTML, CSS, REACT, RUBY ON RAILS
      %span#typed{:style => "white-space:pre;"}


.row
  .col-md-12
    %p ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
 

%script{:src => "assets/javascripts/socialProfiles.js"}
